$black: #000000;
$white: #ffffff;
$red: rgb(138, 29, 29);
$gray: #e5e5e5;
$gray-top: #f6f6f6;
$gray-menu: #48494d;
$aqua: #0ad9c6;
$gray-dark: #1c1c1c;
$dark: #131314;
$gray-border: #c9ccd4;
$pale-white: rgba(255, 255, 255, 0.2);
$gray-transparent: rgba(28, 28, 28, 0.5);
$gray-special: rgba(0, 0, 0, 0.7);

// Viewports
$tablet-width: 1023px;
$mobile-width: 767px;
